/* element selector */
body {
    background-color: darkred;
    color: black;
    font-family: verdana, 'Times New Roman', Times, serif;
}
.txt-center{ text-align: center;}
.bg-warning { background-color: white; border-radius: 50px;}
.txt-black { color: black ; }
.p-1 { padding: 50px; }
.m-1 {margin: 100px; }

a:link{
    color: black;
}

/* visited link */
a:active {
    color: green;
}
a:hover{
    color: black;
    background-color: whitesmoke;
    border-radius: 10px;
}
